
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

h1{
  color: firebrick;
}
body{
  background: linear-gradient(rgb(4, 0, 255),rgb(0, 204, 255));
 font-family: Oswald;
}