
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

h1{
  color: firebrick;
}
body{
  background: linear-gradient(red,blue);
 font-family: Oswald;

 h1{
  font-size: 55px;
}

h2{
  font-size: 44px;
}